<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Daftar Kontak</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nama</th>
                        <th scope="col">No Telepn</th>
                        <th scope="col">Aksi</th>
                    </tr>
                </thead>
                <tbody>

                    <% contact.forEach((mhs,i) => { %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= mhs.nama %> </td>
                        <td><%= mhs.email %> </td>
                        <td>
                            <a href="#" class="btn btn-warning shadow  rounded-pill"><i
                                    class="bi bi-pencil-square"></i></a>
                            <a href="/contact/<%= mhs.nama %> " class="btn btn-primary shadow rounded-pill"><i
                                    class="bi bi-eye-fill"></i></a>
                            <a href="#" class="btn btn-danger shadow rounded-pill"><i class="bi bi-trash2-fill"></i></a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>